@media (max-width:350px){
  nav.navigation {
    font-size: 8px;
}

.header{
  padding:0;
  gap:10%;
}

.parallax_content{
  flex-direction:column;
}

.box-chatgpt{
  margin-bottom: 10%;
}

.flex-footer > * {
  margin: 0;
  padding: 1%;
}
.flex-footer{
flex-direction: column;}

}

@media (max-width: 640px){
  nav.navigation {
    font-size: 8px;
}

.header{
  padding:0;
  gap:10%;
}

.parallax_content{
  flex-direction:column;
}

.box-chatgpt{
  margin-bottom: 10%;
}

.flex-footer > * {
  margin: 0;
  padding: 1%;
}
.flex-footer{
flex-direction: column;}


}

@media (max-width: 768px){
  nav.navigation {
    font-size: 8px;
}

.header{
  padding:0;
  gap:10%;
}

.parallax_content{
  flex-direction:column;
}

.box-chatgpt{
  margin-bottom: 10%;
}

.flex-footer > * {
  margin: 0;
  padding: 1%;
}
.flex-footer{
flex-direction: column;}

}

@media (max-width: 1024px){
  nav.navigation {
    font-size: 8px;
}

.header{
  padding:0;
  gap:10%;
}

.parallax_content{
  flex-direction:column;
}

.box-chatgpt{
  margin-bottom: 10%;
}

.flex-footer > * {
  margin: 0;
  padding: 1%;
}
.flex-footer{
flex-direction: column;}

}

@media (max-width: 1280px){

}
