* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', sans-serif;
}
body,
html {
  height: 100vh;
  /* background:#f9f9f9; */
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 100px;
  position: absolute;
}

.logo {
  font-size: 2em;
  color: white;
  pointer-events: none;
}

.navigation a {
  font-size: 1em;
  color: white;
  text-decoration: none;
  padding: 10px;
}
.parallax {
  /* The image used */
  background-image: url("images/homepage-banner.png");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  gap: 10%;
  padding-top: 25%;
}
.box {
  color: white;
  text-align: center;
  padding: 7%;
}
.box h1 {
  font-size: 3em;
  text-decoration: underline;
  margin-bottom: 4%;
}
.box p {
  font-size: 1.8em;

}
.box-chatgpt {
  background-color: #18a0fb;
  border: 5px solid #18a0fb;
  transition: .5s;
  cursor: pointer;
}
.box-AI {
  background-color: #023968;
  border: 5px solid #023968;
  transition: .5s;
  cursor: pointer;
}
.box-chatgpt:hover {
  border: 5px solid #18a0fb;
  box-shadow: 25px 25px #18a0fb;
  background-color: white;
  color: #18a0fb;
  transition: .5s;
}

.box-AI:hover {
  border: 5px solid #023968;
  box-shadow: 25px 25px #023968;
  background-color: white;
  color: #023968;
  transition: .5s;
}

.footerLogo {
  width: 100px;
  height: 50px;
}

.flex-footer {
  display: flex;
  justify-content: space-between;
  color: #194198;
}

.flex-footer > * {
  margin: 10px 50px;
}

.title-2{
  font-size: 2em ;
  padding: 30px;
  font-weight: bold;
  border-bottom-color:orange; 
  border-bottom-width:5px; 
  border-bottom-style:solid;
  position:relative;
  margin-right:35rem;
  margin-left:1rem;
  line-height: 3rem;
}
.content-2{
  display: flex;
  justify-content: space-between;
}
.logo-2{
  width: 250px;
  height: 250px;
  padding-right: 30px;
}
.text-2{
  width: 50%;
  line-height: 2rem;
  margin-left: 2.6rem;
  margin-top: 1.5rem;
}
.background-blue{
  background-color: #194198;
}
.FooterText-2{
  color: white;
}
.main-2{
  margin:50px;
  color: white;

}
